html, body{
    height: 100%;
}

body{
    background-color: dimgray ;
    text-decoration-color: firebrick;
    font-family: 'Press Start 2P', cursive;
}

a{
    font-family: 'Press Start 2P';
}


.form-group{
    border-style: ridge;
    color: bisque;
    border-width: 10px;
}

h5{
    color: darkolivegreen;
    font-family: 'Press Start 2P';
}

footer{
    position: relative;
    height: 50px;
    margin-top: -50px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.card-img-top{
    float: left;
}

img{
    float: left;
}